.nav{
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo{
  margin-top: 22px;
  margin-left: 30px;
  margin-bottom: 22px;
  height: 45px;
}

.App{
  font-family: 'Poppins';
  font-style: normal;
}

.hero > p{
  max-width: 320px;
  text-align: left; 
}

.hero{
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hero > h1{
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 16px;
  text-align: left;  
}

.hero > img{
  align-self:center;
  max-width: 400px;
  margin-top: 30px;
}

.card > p{
  font-weight: 300;
  font-size: 17px;
  line-height: 110%;
  color: #222222;
}

.imgHolder{
  position: relative;
}

.imgHolder rect{
  width: 101px;
  height: 25px;
  text-align: center;
  top: 10px;
  left: 10px;
  position:absolute;
  background: #000000;
  border-radius: 5px;
}

.card--grey{
  color: #918E9B;
}

.card{
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;
  gap:20px;
}

.card--title{
  max-width: 176px;
}

.card--img{
  width:176px;
  height:235px;
  border-radius: 9px;
}

.card--price{
  justify-content: center;
}

.stats{
  display: flex;
  align-items: center;
}